* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #f8f9fa;
    color: #333;
}

.navbar {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.8rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #00e6e6;
}

.cart {
    font-size: 1.2rem;
}

.hero {
    background: url('https://images.unsplash.com/photo-1523275335684-37898b6baf30') no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 100px 20px;
    color: white;
}

.hero h2 {
    font-size: 3rem;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    padding: 40px;
}

.product-card {
    background: white;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

a {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card h3 {
    margin: 10px 0 5px;
}

.product-card button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #00b894;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.product-card button:hover {
    background: #019875;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

footer .socials a {
    color: #00e6e6;
    text-decoration: none;
    margin: 0 5px;
}